*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(165, 16, 16);
}
h1{
   font-size: 5rem;
   color: rgb(68, 68, 68);
   margin: 10px auto;
   text-align: center;
}
@media (max-width: 430px){
    h1{
        font-size: 3rem;
    }
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box {
    width: 45%;
    margin: 10px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#ingredientsContainer{
    width: 300px;
    height: 300px;
    background: blueviolet;
    box-shadow: 2px 2px 2px rgb(27, 27, 27);
    margin: 20px 0;
    color: rgb(100, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px 0;
    border-radius: 20px;
    margin-right: 20px;

    position: sticky;
    top: 10px;
    transform: translateY(25%);
    transform: translateX(50%);
}
.box p {
    background: rgba(20, 7, 7, 0.8);
    padding: 3px; 
}
.box img{
    width: 150px;
    margin: 8px 0;
}
.info{
    padding: 10px;
    font-size: 1.2rem;
    margin: 2px;
}
.info p{
    margin: 5px 0;
}
#casasButton , #magosButton {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}



